.input {
}

.inputTextContainer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.title {
  margin-right: 15px;
}

.inputText {
  padding: 10px 15px;

  border-radius: 5px;

  border: 1px solid black;
}

.inputWarning {
  text-align: center;
}
