.network {
  display: flex;
  justify-content: center;
}

.text {
  margin-right: 10px;
}

.status {
}

.status_online {
  color: lightseagreen;
}

.status_offline {
  color: lightpink;
}
