.header {
  &:hover {
    transition: 0.5s background-color;
    background-color: black;

    & h1 {
      transition: 0.5s color;
      color: white;
    }
  }
}

.link {
  display: inline-block;

  width: 100%;

  text-align: center;
}
